//- includes/head.jade
head
  block title
    title My Site
  script(type='text/javascript' src='../js/main.min.js')
  link(type="text/css" rel="stylesheet" charset="UTF-8" href='../css/style.min.css')
